.container{
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: flex;
    /* grid-template-columns: 20px; */
}

.item{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}