#hover{
    background-color: lightcoral;
    font-size: larger;
    text-align: center;
    color: white;
    cursor: pointer;

}

#hover:hover {
    background-color: white;
    text-align: center;
    color: lightcoral;
}

#hover:active{
    background-color: lightblue;
    color: blue;
    cursor: progress;
}

input[type="radio"]:checked + label{
    /* background-color: lightgreen; */
    font-weight: bold;
    color: red;
}

/* #hover:nth-of-type(1){
    background-color: blanchedalmond;
} */

h1::first-letter{
    color: purple;
}

p::selection{
    color: lightcoral;
}