h1{
    text-align: center;
    color: lightcoral;
    background: purple transparent;
}

p{
    text-decoration: pink double underline;
    line-height: 1.5;
    /* letter-spacing: 10px; */
    /* font-size: larger; font-family: "Helvetica Neue"; */
font-size: 25px;
}